<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <title>Exercice 5</title>
  </head>
  <body ng-app>
    <button ng-click="text = false" type="button">Afficher</button> <!-- Au clic on vérifie que text = false -->
    <button ng-click="text = true" type="button">Cacher</button>  <!-- Au clic on vérifie que text = true -->
    <p ng-hide="text"> <!-- Si ng-hide = false le texte reste visible, si ng-hide = true le text disparait -->
      Ayrton Senna da Silva est un pilote automobile brésilien, né le 21 mars 1960 à São Paulo et mort le 1er mai 1994 à Bologne, à la suite d'un accident lors du Grand Prix de Saint-Marin.
    </p>
  </body>
</html>
